{
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-debugger": "error",
    "import/prefer-default-export": ["off"],
    "prettier/prettier": "error"
  }
}
